<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lansoeditor.demo"
    android:versionCode="2207"
    android:versionName="2.2.7" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="23" />

      <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    
    
    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
            
         <activity android:name="com.example.commonDemo.startActivity"
             android:theme="@style/startTheme"
            android:label="@string/app_name" >
               <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>  
             
         </activity>
         
        <activity
            android:name="com.example.commonDemo.MainActivity">
            
         
             
        </activity>
         
         <activity android:name="com.example.commonDemo.VideoPlayerActivity"></activity>
         <activity android:name="com.example.commonDemo.FileExplorerActivity"></activity>
         <activity android:name="com.example.commonDemo.MediaInfoActivity"></activity>
         <activity android:name="com.example.commonDemo.CustomFunctionActivity"/>
         <activity android:name="com.example.commonDemo.BusynessActivity"/>
         <activity android:name="com.example.commonDemo.AVEditorDemoActivity"/>
         <activity android:name="com.example.commonDemo.ScaleExecuteDemoActivity"/>
         
         <activity android:name="com.example.commonDemo.OnlyTestCmdActivity"/>
          <activity android:name="com.example.commonDemo.SegmentRecorderActivity"
                  android:theme="@style/AppTheme2">
             </activity>
    </application>

</manifest>
